body {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #87CEFA;
}

.App {
  font-family: sans-serif;
}

h1 {
  color: yellow;
  text-decoration: underline red;
}

.WinnerMessage {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: green;
}
