body {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #87CEFA;
}

.App {
  font-family: sans-serif;
}

h1 {
  color: whitesmoke;
  text-decoration: underline whitesmoke;
  border-radius: 8px;
}

h1:hover {
  color: yellow;
  text-decoration: underline red;
}

h2 {
  color: whitesmoke;
  text-decoration: underline whitesmoke;
  border-radius: 8px;
}

h2:hover {
  color: red;
  text-decoration: underline yellow;
}